<ng-container>
  <h1>User Query</h1>
  <div class="card table-responsive">
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <th>First Name</th>
            <td>{{ userQuery.firstName }}</td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td>{{ userQuery.lastName }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ userQuery.email }}</td>
          </tr>
          <tr>
            <th>Subject</th>
            <td>{{ userQuery.subject }}</td>
          </tr>
          <tr>
            <th>Message</th>
            <td>{{ userQuery.message }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
