$primary: #ee741f;
$secondary: #f8f8fb;
$muted: rgba(0, 0, 0, 0.45);
$max-card-width: 820px;
$card-md-pad-y: 4rem;
$card-md-pad-x: 3rem;
$card-sm-pad-y: 3rem;
$card-sm-pad-x: 1.5rem;
$card-md-border-radius: 15px
