.about {
  padding-top: 4.5rem;

  .wrapper {
    padding-right: 4rem;
  }

  .heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.375rem;
    margin-bottom: 1rem;
  }

  .sub-heading {
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75rem;
  }

  .email {
    color: var(--primary);
    text-decoration: none;
  }

  .about-image-wrapper {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.achievements {
  padding: 4rem 0;
  background-color: var(--primary);
  color: #fff;

  .icon {
    height: 64px;
    width: 64px;
    margin-bottom: 2rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .count {
    font-size: 2.6rem;
    font-weight: 800;
  }

  .message {
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: 300;
    color: rgba(#fff, 0.85);
  }
}

.why-us {
  padding: 5rem 0;

  .heading {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .item {
    margin-top: 2rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: rgba(#000, 0.85);

    &::before {
      content: "*";
      color: var(--primary);
      margin-right: 1rem;
    }
  }
}

.documentation {
  padding: 5rem 0;
  background-color: #ee741f0d;

  .heading {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .gallery {
    margin-top: 4rem;

    .img-col {
      display: inline-flex;
      margin-bottom: 1rem;
    }

    .gallery-img {
      width: 100%;
      height: 340px;
      object-fit: cover;
    }
  }
}

.talk-to-us {
  text-align: left;
}

.img {
}
