<nav [class]="'navbar navbar-expand-lg ' + classes[background]">
  <div class="container">
    <!-- Menu on mobile screens -->
    <div class="hamburger-menu">
      <button
        class="navbar-toggler"
        (click)="isOpen = !isOpen"
        [ngClass]="{
          collapsed: !isOpen,
          open: isOpen
        }"
        type="button"
      >
        <div class="toggler-icon">
          <div class="bar1 bar-top"></div>
          <div class="bar2 bar-bottom"></div>
        </div>
      </button>
    </div>

    <!-- Logo -->
    <a class="navbar-icon" routerLink="/">
      <img
        class="logo-lg d-none d-lg-block"
        [src]="navbarLogo"
        alt="TheQuantum Logo"
      />
      <img
        class="logo-sm d-sm-block d-lg-none"
        src="assets/images/timelapse.svg"
        alt="TheQuantum Logo"
      />
    </a>

    <!-- Sign In button on mobile screens -->
    <a class="link-primary d-sm-block d-lg-none">Sign In</a>

    <!-- Navbar menu left -->
    <div class="collapse navbar-collapse" [class.show]="isOpen">
      <ul class="navbar-nav nav-menu">
        <!-- Link 1 -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/the-quantum-pro"
            routerLinkActive="active"
            >For Individuals</a
          >
        </li>

        <!-- Link 2 -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/the-quantum-pro"
            routerLinkActive="active"
            >For Companies</a
          >
        </li>

        <!-- Link 3 -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/faqs" routerLinkActive="active"
            >Resources</a
          >
        </li>

        <!-- Link 4 -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/pricing" routerLinkActive="active"
            >Pricing</a
          >
        </li>
      </ul>

      <!-- Navbar menu right -->
      <ul class="navbar-nav nav-buttons">
        <!-- Link 1 -->
        <li class="nav-item d-none d-lg-block">
          <a class="btn-signin">Sign In</a>
        </li>

        <!-- Link 2 -->
        <li class="nav-item" *ngIf="path != '/pricing'">
          <a class="btn btn-buynow" routerLink="/pricing">Buy Now</a>
        </li>

        <!-- Link 3 -->
        <li class="nav-item dropdown" *ngIf="path == '/pricing'">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            US$
            <span class="arrow-down">
              <img src="assets/icons/arrow-down.svg" />
            </span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" (click)="setCurrency('US$')">US$</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="setCurrency('INR')">INR</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
