.wrapper {
  padding: 3.5rem 0;
}

.contact-wrapper {
  margin-bottom: 3rem;

  .title {
    font-weight: 700;
    margin-bottom: 8px;
  }

  .subtitle {
    font-size: 0.95rem;
    font-weight: 400;
    color: #444;
  }

  .form-group {
    display: flex;

    .form-control {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      padding: 0.7rem 1.4rem;
    }

    .btn-attached {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}

.divider {
  height: 2px;
  background-color: #444;
  border-radius: 10px;
}

.links {
  padding: 3rem 0;

  .link-title {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .footer-link {
    display: block;
    color: #444;
    text-decoration: none;
    margin-bottom: 0.4rem;
    font-weight: 300;
  }
}

.copyright {
  text-align: center;
  color: #444;
  font-weight: 300;
}
