<ng-container>
  <h1>User Queries</h1>
  <div class="card table-responsive">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let uq of userQueries; index as i">
            <th scope="row">{{ i + 1 + (currentPage - 1) * limit }}</th>
            <td>{{ uq.createdAt | date: "MMM d, y" }}</td>
            <td>{{ uq.createdAt | date: "h:mm a, z" }}</td>
            <td>{{ uq.firstName }}</td>
            <td>{{ uq.lastName }}</td>
            <td>{{ uq.email }}</td>
            <td>{{ uq.subject }}</td>
            <td>{{ truncateMessage(uq.message) }}</td>
            <td>
              <a [routerLink]="uq._id" class="btn btn-primary btn-icon">View</a>
            </td>
          </tr>
        </tbody>
      </table>
      <app-pagination
        [totalRecords]="totalItems"
        [recordsPerPage]="limit"
        (onPageChange)="changePage($event)"
      ></app-pagination>
    </div>
  </div>
</ng-container>
