.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  padding: 20px 0;
  background-color: transparent;
  z-index: 999;

  .navbar-brand {
    color: #fff;
    text-transform: uppercase;
  }

  .nav-menu {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .nav-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nav-item {
    margin-right: 1rem;
  }

  .nav-link {
    color: #fff;
  }

  .btn-link-primary,
  .btn-primary {
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
  }

  .btn-link-primary {
    color: var(--primary) !important;
  }
}
