<ng-container>
  <!-- <h1>Orders</h1>
  <div class="card table-responsive">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Name</th>
            <th scope="col">Contact</th>
            <th scope="col">Email</th>
            <th scope="col">Country</th>
            <th scope="col">Shipping Address</th>
            <th scope="col">Product</th>
            <th scope="col">Amount</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of orders; index as i">
            <th scope="row">{{ i + 1 + (currentPage - 1) * limit }}</th>
            <td>{{ o.createdAt | date: "MMM d, y" }}</td>
            <td>{{ o.createdAt | date: "h:mm a, z" }}</td>
            <td>{{ o.name }}</td>
            <td>{{ o.contact }}</td>
            <td>{{ o.email }}</td>
            <td>{{ o.country }}</td>
            <td>{{ truncateMessage(o.message) }}</td>
            <td>
              <a [routerLink]="o._id" class="btn btn-primary btn-icon">View</a>
            </td>
          </tr>
        </tbody>
      </table>
      <app-pagination
        [totalRecords]="totalItems"
        [recordsPerPage]="limit"
        (onPageChange)="changePage($event)"
      ></app-pagination>
    </div>
  </div> -->
</ng-container>
