.icon {
  height: 100px;
  width: auto;

  img {
    height: 100%;
    width: auto;
  }
}

.title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.info {
  font-size: 0.9rem;
  line-height: 24px;
}
