<div class="main-wrapper">
  <!-- NAVBAR -->
  <app-navbar [background]="'secondary'"></app-navbar>

  <!-- HERO -->
  <section class="hero">
    <div class="container">
      <div class="wrapper">
        <h4
          class="title"
          [@zoomIn]="{ value: 'hidden', params: { duration: '0.6s' } }"
          [animateInViewport]="{ animationName: 'zoomIn' }"
        >
          TheQuantumPRO
        </h4>
        <h1
          class="heading"
          [@fadeInUp]="{
            value: 'hidden',
            params: { delay: '0.2s' }
          }"
          [animateInViewport]="{
            animationName: 'fadeInUp'
          }"
        >
          The ultimate solution <br />for Professional TimeLapse
        </h1>
        <h5
          class="sub-heading"
          [@fadeInUp]="{
            value: 'hidden',
            params: { delay: '0.6s' }
          }"
          [animateInViewport]="{
            animationName: 'fadeInUp'
          }"
        >
          The perfect set of system & tools to document your site.
          <br />
          Our systems deliver unrivaled experience, delivering 99.9% uptime &
          24/7 access to the crucial information of your system.
        </h5>
      </div>
    </div>
  </section>

  <!-- NAVIGATION -->
  <section #nav class="navigation">
    <div class="container">
      <nav>
        <ol class="nav-list" #navList>
          <li class="nav-item" *ngFor="let l of navLinks; index as i">
            <a
              (click)="scrollToElement(l.elementId)"
              [class.active]="currentActive == i + 1"
              class="nav-link"
            >
              <span class="counter">0{{ i + 1 }}</span>
              <span class="text">{{ l.text }}</span>
            </a>
          </li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- HOUSING -->
  <section #housingEl id="housing" class="housing">
    <div class="container">
      <div class="flexbox">
        <div class="flex-33">
          <div class="wrapper">
            <app-aside-overview>
              <ng-container id="title">TheHousing</ng-container>
              <ng-container id="heading"
                >Made Inside IP67 Pelican Case</ng-container
              >
              <ng-container id="info">
                TheQuantum is built inside a Military Grade IP67 Pelican Case.
                This makes it a fit for operating under extreme weather
                conditions.
              </ng-container>
              <ng-container id="action">
                <button class="btn btn-primary">Learn More</button>
              </ng-container>
            </app-aside-overview>
          </div>
        </div>
        <div class="flex-66">
          <div class="img-wrapper align-right">
            <img
              @zoomIn
              [animateInViewport]="{ animationName: 'zoomIn' }"
              class="image"
              src="assets/images/pelican-case.png"
              alt="Pelican Case Image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CONTROLLER -->
  <section #controllerEl id="controller" class="controller bg-secondary">
    <div class="container">
      <div class="flexbox row-reverse">
        <div class="flex-33">
          <div class="wrapper">
            <app-aside-overview>
              <ng-container id="title">Controller</ng-container>
              <ng-container id="heading">
                Smart TimeLapse Controller
              </ng-container>
              <ng-container id="info"
                >Built on a dynamic platform, the TQ Controller puts creative
                control and flexibility back into your hands.
              </ng-container>
              <ng-container id="action">
                <button class="btn btn-primary">Learn More</button>
              </ng-container>
            </app-aside-overview>
          </div>
        </div>
        <div class="flex-66">
          <div class="img-wrapper">
            <img
              @zoomIn
              [animateInViewport]="{ animationName: 'zoomIn' }"
              src="assets/images/ctrl.png"
              alt="Controller Image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ADAPTIVE -->
  <section #adaptiveEl id="adaptive" class="adaptive">
    <div class="container">
      <div class="flexbox">
        <div class="flex-33">
          <div class="wrapper">
            <app-aside-overview>
              <ng-container id="title">Adaptive</ng-container>
              <ng-container id="heading"
                >Power & Network Switching</ng-container
              >
              <ng-container id="info">
                Every unit is powered by an Industrial Grade Lithium Ion
                Battery. The unit can run on Mobile LTE networks or fixed line
                internet. To charge, hook it up to a wall mount or a solar
                panel.
              </ng-container>
              <ng-container id="action">
                <button class="btn btn-primary">Learn More</button>
              </ng-container>
            </app-aside-overview>
          </div>
        </div>
        <div class="flex-66">
          <div class="img-wrapper align-right">
            <img
              @zoomIn
              [animateInViewport]="{ animationName: 'zoomIn' }"
              src="assets/images/tq.png"
              alt="Dashboard Image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FLEXIBILITY -->
  <section #flexibilityEl id="flexibility" class="flexibility bg-secondary">
    <div class="container">
      <div class="flexbox row-reverse">
        <div class="flex-33">
          <div class="wrapper">
            <app-aside-overview>
              <ng-container id="title">Flexibility</ng-container>
              <ng-container id="heading">Control from Comfort</ng-container>
              <ng-container id="info"
                >Built on a dynamic platform, the TQ Controller puts creative
                control and flexibility back into your hands.
              </ng-container>
              <ng-container id="action">
                <button class="btn btn-primary">Learn More</button>
              </ng-container>
            </app-aside-overview>
          </div>
        </div>
        <div class="flex-66">
          <div class="img-wrapper">
            <img
              @zoomIn
              [animateInViewport]="{ animationName: 'zoomIn' }"
              src="assets/images/dashboard.svg"
              alt="Camera Image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FLEXIBLE -->
  <section #flexibleEl id="flexible" class="flexible">
    <div class="container">
      <div class="flexbox">
        <div class="flex-33">
          <div class="wrapper">
            <app-aside-overview>
              <ng-container id="title">Flexible</ng-container>
              <ng-container id="heading"
                >Supports All DSLR Cameras*</ng-container
              >
              <ng-container id="info">
                Every unit is powered by an Industrial Grade Lithium Ion
                Battery. The unit can run on Mobile LTE networks or fixed line
                internet.
              </ng-container>
              <ng-container id="action">
                <div class="recommend">
                  <h6>We Recommend</h6>
                  <img src="assets/images/emaar.png" alt="Nikon Image" />
                  <img src="assets/images/ibm.png" alt="Canon Image" />
                </div>
              </ng-container>
            </app-aside-overview>
          </div>
        </div>
        <div class="flex-66">
          <div class="img-wrapper align-right">
            <img
              @zoomIn
              [animateInViewport]="{ animationName: 'zoomIn' }"
              src="assets/test.png"
              alt="Dashboard Image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SUPPORT -->
  <section #supportEl id="support" class="support bg-secondary">
    <div class="container">
      <div class="flexbox row-reverse">
        <div class="flex-33">
          <div class="wrapper">
            <app-aside-overview>
              <ng-container id="title">Support</ng-container>
              <ng-container id="heading">
                Heroic Replacement Warranty
              </ng-container>
              <ng-container id="info"
                >Built on a dynamic platform, the TQ Controller puts creative
                control and flexibility back into your hands.
              </ng-container>
              <ng-container id="action">
                <button class="btn btn-primary">Learn More</button>
              </ng-container>
            </app-aside-overview>
          </div>
        </div>
        <div class="flex-66">
          <div class="img-wrapper">
            <img
              @zoomIn
              [animateInViewport]="{ animationName: 'zoomIn' }"
              src="assets/images/camera.jpg"
              alt="Camera Image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- GET STARTED -->
  <section #startedEl id="started" class="started">
    <app-banner>
      <ng-container id="heading">
        Get started with TheQuantum today
      </ng-container>
      <ng-container id="subHeading">
        Monitor your construction sites from anywhere, anytime.
      </ng-container>
      <ng-container id="action">
        <button class="btn btn-light">Learn More</button>
      </ng-container>
    </app-banner>
  </section>

  <!-- FOOTER -->
  <section class="footer">
    <app-footer></app-footer>
  </section>
</div>
