.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 999;

  .navbar-brand {
    text-transform: uppercase;
  }

  .nav-menu {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .nav-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nav-item {
    margin-right: 1rem;
  }

  .btn-signin,
  .btn-buynow {
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
  }

  .btn-link-primary,
  .btn-primary {
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
  }

  .btn-link-primary {
    color: var(--primary) !important;
  }
}

.bg-transparent {
  background-color: transparent;

  .nav-link {
    color: #fff;
  }

  .btn-signin {
    color: var(--primary);
  }

  .btn-buynow {
    background-color: var(--primary);
    color: #fff;
  }
}

.bg-secondary {
  background-color: var(--secondary);

  .nav-link {
    color: #000;
  }

  .btn-signin {
    color: var(--primary);
  }

  .btn-buynow {
    background-color: var(--primary);
    color: #fff;
  }
}

.bg-primary {
  background-color: var(--primary);

  .navbar-brand {
    color: #fff;
  }

  .nav-link {
    color: #fff;
  }

  .btn-signin {
    color: #fff;
  }

  .btn-buynow {
    background-color: #fff;
    color: var(--primary);
  }
}

.bg-white {
  background-color: #fff;

  .nav-link {
    color: #000;
  }

  .btn-signin {
    color: var(--primary);
  }

  .btn-buynow {
    background-color: var(--primary);
    color: #fff;
  }
}
