header {
  background-image: url("../../../assets/images/camera.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hero {
  padding: 6rem 0;
  color: #fff;

  .wrapper {
    .heading {
      font-size: 4.5rem;
      line-height: 1.1;
      margin-bottom: 1rem;
    }

    .sub-heading {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.3;
      margin-bottom: 3.2rem;
    }

    .btn-primary {
      margin-right: 1rem;
    }

    .extra {
      font-size: 0.8rem;
      margin-top: 1.5rem;
    }
  }
}

.clients {
  padding: 3rem 0;

  .heading {
    text-align: center;
    margin-top: 4rem;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
  }

  .logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;
  }

  .logo {
    display: block;
  }
}

.configure {
  padding: 6rem 0;

  .img-wrapper {
    text-align: right;

    .img {
      width: 95%;
      height: auto;
      border-radius: 20px;
    }
  }
}

.features {
  padding: 6rem 0;

  .wrapper {
    margin-right: 3.5rem;

    .icon {
      height: 100px;
      width: auto;
    }

    .title {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .info {
      font-size: 0.9rem;
      line-height: 24px;
    }
  }
}

.trusted {
  padding: 10rem 0;
  background-color: var(--secondary);

  .img-wrapper {
    .img {
      width: 90%;
      height: auto;
    }
  }
}

.action {
  padding: 8rem 0;

  .video-wrapper {
    text-align: right;

    .video {
      width: 95%;
      height: auto;
      border-radius: 20px;
    }
  }
}
