<div class="main-wrapper">
  <!-- HEADER -->
  <header>
    <!-- NAVBAR -->
    <app-navbar></app-navbar>

    <!-- HERO -->
    <section class="hero">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="wrapper">
              <h1 class="heading">Share progress across the globe</h1>
              <h5 class="sub-heading">
                Get access to your project site anytime, anywhere. Being used by
                over two thousand people globally — from individuals, to the
                largest companies.
              </h5>
              <div>
                <button class="btn btn-primary">Buy Now</button>
                <button class="btn btn-outline-light">See pricing</button>
              </div>
              <div class="extra">
                Our systems are built extra-tough for the any jobsite.
                <br />
                The units are able to operate in extreme temperatures.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>

  <!-- CLIENTS -->
  <section class="clients">
    <div class="container">
      <h6 class="heading">TRUSTED BY SOME OF THE WORLS’S BEST COMPANIES.</h6>
      <div class="logo-wrapper">
        <img class="logo" src="/assets/images/emaar.png" alt="" />
        <img class="logo" src="/assets/images/ibm.png" alt="" />
        <img class="logo" src="/assets/images/emaar.png" alt="" />
        <img class="logo" src="/assets/images/ibm.png" alt="" />
        <img class="logo" src="/assets/images/emaar.png" alt="" />
        <img class="logo" src="/assets/images/ibm.png" alt="" />
      </div>
    </div>
  </section>

  <!-- Configure -->
  <section class="configure">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="wrapper">
            <div class="wrapper">
              <app-aside-overview>
                <ng-container id="title">Configure</ng-container>
                <ng-container id="heading">
                  Smart TimeLapse System
                </ng-container>
                <ng-container id="info">
                  With an intuitive interface, thoughtful features and a
                  powerful controller, you can stay focused on managing your
                  projects remotely.
                </ng-container>
                <ng-container id="btnText">Learn More</ng-container>
              </app-aside-overview>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="img-wrapper">
            <img class="img" src="/assets/test.png" alt="Dashboard Image" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FEATURES -->
  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="wrapper">
            <app-feature>
              <ng-container id="icon">
                <img src="/assets/images/icon1.png" alt="Remote Control Icon" />
              </ng-container>
              <ng-container id="title">Remote Control</ng-container>
              <ng-container id="info">
                Manage your click, upload, image quality settings and more from
                anywhere, anytime. The Remote Control allows you to remotely
                control the units regime.
              </ng-container>
            </app-feature>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrapper">
            <app-feature>
              <ng-container id="icon">
                <img src="/assets/images/icon1.png" alt="Solar or Mains Icon" />
              </ng-container>
              <ng-container id="title">Solar or Mains</ng-container>
              <ng-container id="info">
                No separate accessories! Each of our unit can be powered by
                Solar or Mains. To cover the black-outs or rainy days, the unit
                is powered by an on-board battery pack.
              </ng-container>
            </app-feature>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrapper">
            <app-feature>
              <ng-container id="icon">
                <img src="/assets/images/icon1.png" alt="SmartLapse™ Icon" />
              </ng-container>
              <ng-container id="title">SmartLapse™ </ng-container>
              <ng-container id="info">
                First in segment, break your entire regime as you prefer. Add as
                many as 10 configs to a single day shooting regime with
                different click and upload timings.
              </ng-container>
            </app-feature>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- TRUSTED -->
  <section class="trusted">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="img-wrapper">
            <img
              class="img"
              src="/assets/images/camera.jpg"
              alt="Camera Image"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrapper">
            <app-aside-overview>
              <ng-container id="title">The Beast</ng-container>
              <ng-container id="heading">
                Trusted by Top Developers
              </ng-container>
              <ng-container id="info"
                >We enable our customers to capture and broadcast everything
                from city skylines and construction sites to cruise ships.
              </ng-container>
              <ng-container id="btnText">Learn More</ng-container>
            </app-aside-overview>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FEATURES -->
  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="wrapper">
            <app-feature>
              <ng-container id="icon">
                <img
                  src="/assets/images/icon1.png"
                  alt="LTE Connectivity Icon"
                />
              </ng-container>
              <ng-container id="title">LTE Connectivity</ng-container>
              <ng-container id="info">
                For the remotest construction sites with no fixed line internet,
                the unit is capable of running on a wide-band of Mobile LTE
                networks. Even when the network drops, the unit is still
                operational.
              </ng-container>
            </app-feature>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrapper">
            <app-feature>
              <ng-container id="icon">
                <img
                  src="/assets/images/icon1.png"
                  alt="Cloud Reporting Icon"
                />
              </ng-container>
              <ng-container id="title">Cloud Reporting</ng-container>
              <ng-container id="info">
                Sitting miles away from your contruction site? Get access to the
                unit logs, battery health, signal strength and much more from
                the click of a single button.
              </ng-container>
            </app-feature>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrapper">
            <app-feature>
              <ng-container id="icon">
                <img src="/assets/images/icon1.png" alt="Customised Icon" />
              </ng-container>
              <ng-container id="title">Customised</ng-container>
              <ng-container id="info">
                Don’t see what you have always wanted? We strive for continous
                client and user satisfaction. Get in touch with us if you want a
                customised solution designed around TheQuantum.
              </ng-container>
            </app-feature>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ACTION -->
  <section class="action">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="wrapper">
            <app-aside-overview>
              <ng-container id="title">Video</ng-container>
              <ng-container id="heading"> See it in Action </ng-container>
              <ng-container id="info"
                >With an intuitive interface, thoughtful features and a powerful
                controller, you can stay focused on managing your projects
                remotely.
              </ng-container>
              <ng-container id="btnText">Learn More</ng-container>
            </app-aside-overview>
          </div>
        </div>
        <div class="col-md-8">
          <div class="video-wrapper">
            <img src="/assets/images/camera.jpg" alt="" class="video" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- GET STARTED -->
  <section class="started">
    <app-overlay>
      <ng-container id="heading">
        Get started with TheQuantum today
      </ng-container>
      <ng-container id="subHeading">
        Monitor your construction sites from anywhere, anytime.
      </ng-container>
      <ng-container id="btnText"> Learn More </ng-container>
    </app-overlay>
  </section>

  <!-- FOOTER -->
  <section class="footer">
    <app-footer></app-footer>
  </section>
</div>
