.hero {
  padding: 10rem 0;
  color: #fff;
  background: url(../../../assets/images/home_circles.svg) -150px -260px/ 90% no-repeat,
    url(../../../assets/images/landing_image.jpg) center/cover no-repeat;

  .wrapper {
    .heading {
      font-size: 4.25rem;
      font-weight: 700;
      line-height: 4.5rem;
    }

    .sub-heading {
      margin-top: 1.5rem;
      font-size: 1.625rem;
      font-weight: 300;
      line-height: 2.2rem;
      color: rgba(#fff, 0.85);
    }

    .buttons {
      margin-top: 2.5rem;
    }

    .btn-primary {
      margin-right: 1rem;
    }

    .extra {
      margin-top: 1rem;
      font-size: 0.85rem;
      line-height: 1.25rem;
      color: rgba(#fff, 0.65);
    }
  }
}

.clients {
  padding-top: 6rem;

  .heading {
    text-align: center;
    color: var(--muted);
    font-weight: 700;
    text-transform: uppercase;
  }

  .logo-wrapper {
    margin-top: 1.5rem;
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;

    &::-webkit-scrollbar {
      /* Safari and Chrome */
      width: 0px;
      background: transparent;
    }

    scrollbar-width: none; /* Firefox */
  }

  .logo {
    display: block;
  }
}

.features {
  .wrapper {
    margin-right: 3rem;
  }
}

.f1 {
  padding-bottom: 6rem;
}

.f2 {
  padding-top: 6rem;
}

.started {
  text-align: center;
}
