<div class="main-wrapper">
  <!-- NAVBAR -->
  <app-navbar [background]="'transparent'"></app-navbar>

  <!-- HERO -->
  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="wrapper">
            <h1
              class="heading"
              [@fadeInUp]="{
                value: 'hidden',
                params: { delay: '0.2s' }
              }"
              [animateInViewport]="{
                animationName: 'fadeInUp'
              }"
            >
              <span class="word">Share </span>
              <span class="word">progress </span><br />
              <span class="word">across </span>
              <span class="word">the </span>
              <span class="word">globe</span>
            </h1>
            <h5
              class="sub-heading"
              [@fadeInUp]="{
                value: 'hidden',
                params: { delay: '0.6s' }
              }"
              [animateInViewport]="{
                animationName: 'fadeInUp'
              }"
            >
              Get access to your project site anytime, anywhere. Being used by
              over two thousand people globally — from individuals, to the
              largest companies.
            </h5>
            <div
              class="buttons"
              [@fadeInUp]="{
                value: 'hidden',
                params: { delay: '0.8s' }
              }"
              [animateInViewport]="{
                animationName: 'fadeInUp'
              }"
            >
              <a class="btn btn-primary" routerLink="/pricing">Buy Now</a>
              <a class="btn btn-outline-light" routerLink="/pricing"
                >See pricing</a
              >
            </div>
            <div
              class="extra"
              [@fadeInUp]="{
                value: 'hidden',
                params: { delay: '0.8s' }
              }"
              [animateInViewport]="{
                animationName: 'fadeInUp'
              }"
            >
              Our systems are built extra-tough for any jobsite.
              <br />
              The units are able to operate in extreme temperatures.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CLIENTS -->
  <section class="clients">
    <div class="container">
      <h6 class="heading">Trusted by some of the world’s best companies</h6>
      <div class="logo-wrapper">
        <div class="logo-container">
          <img
            class="logo"
            src="assets/logos/apple-logo.svg"
            height="38"
            alt="Apple Logo"
          />
        </div>
        <div class="logo-container">
          <img
            class="logo"
            src="assets/logos/larsen-logo.svg"
            height="53"
            class="f-1"
            alt="Larsen & Toubro Logo"
          />
        </div>
        <div class="logo-container">
          <img
            class="logo"
            src="assets/logos/emaar-logo.svg"
            height="28"
            alt="Emaar Logo"
          />
        </div>
        <div class="logo-container">
          <img
            class="logo"
            src="assets/logos/expo-logo.svg"
            height="69"
            alt="Expo 2020 Dubai UAE Logo"
          />
        </div>
        <div class="logo-container">
          <img
            class="logo"
            src="assets/logos/microsoft-logo.svg"
            height="27"
            alt="Microsoft Logo"
          />
        </div>
        <div class="logo-container">
          <img
            class="logo"
            src="assets/logos/govt-of-dubai-logo.svg"
            height="38"
            alt="Govt Of Dubai Logo"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- CONFIGURE -->
  <section class="configure">
    <div class="container">
      <div class="flexbox">
        <div class="flex-33">
          <div class="wrapper">
            <app-aside-overview>
              <ng-container id="title">Configure</ng-container>
              <ng-container id="heading"> Smart TimeLapse System </ng-container>
              <ng-container id="info">
                With an intuitive interface, thoughtful features and a powerful
                controller, you can stay focused on managing your projects
                remotely.
              </ng-container>
              <ng-container id="action">
                <button class="btn btn-primary">Learn More</button>
              </ng-container>
            </app-aside-overview>
          </div>
        </div>
        <div class="flex-66">
          <div class="img-wrapper align-right">
            <video
              #dashboardVideo
              @zoomIn
              [animateInViewport]="{ animationName: 'zoomIn' }"
              #dashboardVideo
              loop
              autoplay
              muted
              (mouseover)="pauseVideo(dashboardVideo)"
              (mouseleave)="resumeVideo(dashboardVideo)"
            >
              <source src="assets/videos/dashboard.mov" type="video/mp4" />
              Your browser does not support the video.
            </video>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FEATURES -->
  <section class="features f1">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let f of featureSet1">
          <div class="wrapper">
            <app-feature>
              <ng-container id="icon">
                <img [src]="f.icon" [alt]="f.title" height="64" />
              </ng-container>
              <ng-container id="title">{{ f.title }}</ng-container>
              <ng-container id="info">
                {{ f.info }}
              </ng-container>
            </app-feature>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- TRUSTED -->
  <section class="trusted bg-secondary">
    <div class="container">
      <div class="flexbox row-reverse">
        <div class="flex-33">
          <div class="wrapper">
            <app-aside-overview>
              <ng-container id="title">The Beast</ng-container>
              <ng-container id="heading">
                Trusted by Top Developers
              </ng-container>
              <ng-container id="info"
                >We enable our customers to capture and broadcast everything
                from city skylines and construction sites to cruise ships.
              </ng-container>
              <ng-container id="action">
                <button class="btn btn-primary">Learn More</button>
              </ng-container>
            </app-aside-overview>
          </div>
        </div>
        <div class="flex-66">
          <div class="img-wrapper">
            <video
              #quantumVideo
              @zoomIn
              [animateInViewport]="{ animationName: 'zoomIn' }"
              loop
              autoplay
              muted
              (mouseover)="pauseVideo(quantumVideo)"
              (mouseleave)="resumeVideo(quantumVideo)"
            >
              <source
                src="https://timelapseme.com/video/quantum.mp4"
                type="video/mp4"
              />
              Your browser does not support the video.
            </video>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FEATURES -->
  <section class="features f2">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let f of featureSet2">
          <div class="wrapper">
            <app-feature>
              <ng-container id="icon">
                <img [src]="f.icon" [alt]="f.title" height="64" width="100" />
              </ng-container>
              <ng-container id="title">{{ f.title }}</ng-container>
              <ng-container id="info">
                {{ f.info }}
              </ng-container>
            </app-feature>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ACTION -->
  <section class="action">
    <div class="container">
      <div class="flexbox">
        <div class="flex-33">
          <div class="wrapper">
            <app-aside-overview>
              <ng-container id="title">Video</ng-container>
              <ng-container id="heading"> See it in Action </ng-container>
              <ng-container id="info"
                >With an intuitive interface, thoughtful features and a powerful
                controller, you can stay focused on managing your projects
                remotely.
              </ng-container>
              <ng-container id="action">
                <button
                  class="btn btn-primary"
                  (click)="openInLightbox('assets/images/works.png')"
                >
                  Learn More
                </button>
              </ng-container>
            </app-aside-overview>
          </div>
        </div>
        <div class="flex-66">
          <div class="img-wrapper align-right">
            <img
              class="video clickable"
              src="assets/images/works.png"
              alt="Video"
              (click)="openInLightbox('assets/images/works.png')"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- GET STARTED -->
  <section class="started">
    <app-banner>
      <ng-container id="heading">
        Get started with TheQuantum today
      </ng-container>
      <ng-container id="subHeading">
        Monitor your construction sites from anywhere, anytime.
      </ng-container>
      <ng-container id="action">
        <button class="btn btn-light">Learn More</button>
      </ng-container>
    </app-banner>
  </section>

  <!-- FOOTER -->
  <section class="footer">
    <app-footer></app-footer>
  </section>
</div>
