.about {
  padding-top: 4.5rem;

  .wrapper {
    padding-right: 4rem;
  }

  .heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.375rem;
    margin-bottom: 1rem;
  }

  .sub-heading {
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75rem;
  }

  .email {
    color: var(--primary);
    text-decoration: none;
  }

  .about-image-wrapper {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.achievements {
  padding: 4rem 0;
  background-color: var(--primary);
  color: #fff;

  .icon {
    height: 64px;
    width: 64px;
    margin-bottom: 2rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .count {
    font-size: 2.6rem;
    font-weight: 800;
  }

  .message {
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: 300;
    color: rgba(#fff, 0.85);
  }
}

.why-us {
  padding: 5rem 0;

  .heading {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .item {
    margin-top: 2rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: rgba(#000, 0.85);

    &::before {
      content: "*";
      color: var(--primary);
      margin-right: 1rem;
    }
  }
}

.documentation {
  padding: 5rem 0;
  background-color: #ee741f0d;

  .heading {
    font-size: 2.2rem;
    font-weight: 700;
  }

  .gallery {
    margin-top: 4rem;

    .img-col {
      display: inline-flex;
      margin-bottom: 1rem;
    }

    .gallery-img {
      width: 100%;
      height: 340px;
      object-fit: cover;
    }
  }
}

.talk-to-us {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 3rem;

    .wrapper {
      text-align: center;
      padding-right: 0;
    }

    .heading {
      font-size: 1.75rem;
      line-height: 2.25rem;
      margin-bottom: 0.35rem;
    }

    .sub-heading {
      margin-bottom: 2rem;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .email {
      color: var(--primary);
      text-decoration: none;
    }

    .about-image-wrapper {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }

  .achievements {
    padding: 3rem 0 1rem;

    .col-6 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 2rem;
    }

    .icon {
      height: 56px;
      width: 56px;
      margin-bottom: 1rem;
    }

    .count {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 0.2rem;
    }

    .message {
      font-size: 0.9rem;
    }
  }

  .why-us {
    padding: 3rem 0;

    .heading {
      text-align: center;
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }

    .item {
      margin-top: 1.5rem;
      font-size: 1rem;
    }
  }

  .documentation {
    padding: 3rem 0;

    .heading {
      text-align: center;
      font-size: 1.75rem;
    }

    .gallery {
      margin-top: 2rem;

      .gallery-img {
        width: 100%;
        height: 310px;
      }
    }
  }
}
