<div class="main-wrapper">
  <!-- NAVBAR -->
  <app-navbar [background]="'primary'"></app-navbar>

  <!-- SHOWCASE -->
  <app-background-showcase></app-background-showcase>

  <!-- PRICING -->
  <section class="pricing">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h2 class="product">
                TheQuantum<span class="postfix-light">AIR</span>
              </h2>
              <h6 class="info">
                Light-weight, plug-n-play unit with a blazzing fast onboard
                controller.
              </h6>

              <h1 class="price">US$ 999</h1>
              <h6 class="sub-heading">Includes 1 Year of Cloud Subscription</h6>

              <ul class="product-feature-list">
                <li class="feature-item">20 Megapixels FHD Images</li>
                <li class="feature-item">128 GB Flash Storage</li>
                <li class="feature-item">Weighs 1.5 Kgs (~3 lbs)</li>
                <li class="feature-item">Supports LTE & 4G Bands</li>
                <li class="feature-item">1 Minute Click Frequency</li>
              </ul>

              <button class="btn btn-muted btn-pricing">Notify</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h2 class="product">
                TheQuantum<span class="postfix-bold">PRO</span>
              </h2>
              <h6 class="info">
                4K Images, Military Grade Industrial unit with a blazzing fast
                onboard controller.
              </h6>

              <h1 class="price">US$ 2,499</h1>
              <h6 class="sub-heading">
                Includes 1 Year of Cloud Subscription & Free Shipping
              </h6>

              <ul class="product-feature-list">
                <li class="feature-item">4K Image Quality</li>
                <li class="feature-item">Expandable Storage</li>
                <li class="feature-item">Weighs 5 Kgs (~3 lbs)</li>
                <li class="feature-item">Supports LTE & 4G Bands</li>
                <li class="feature-item">1 Minute Click Frequency</li>
              </ul>

              <button class="btn btn-primary btn-pricing">Buy</button>

              <div class="extra">Usually ships the same day</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SAVE -->
  <section class="save-big">
    <div class="container">
      <h2 class="heading">Save big, with TheQuantum</h2>
      <h5 class="sub-heading">
        Say goodbye to high and complicated one-time & monthly fee structure,
        forever!
      </h5>
    </div>
  </section>

  <!-- COMPARISON -->
  <section class="comparison">
    <div class="container">
      <div class="flex-wrapper">
        <div class="left">
          <div class="card">
            <div class="card-body">
              <div class="logo">
                <img src="assets/images/logo_light.svg" alt="" />
              </div>
              <div class="content">
                <div class="price-wrapper">
                  <h1 class="actual-price">US$ 19</h1>
                  <h4 class="discount">Save US$ 230 Per Month</h4>
                </div>
                <h5 class="duration">Per Camera / Month</h5>
                <ul class="features">
                  <li class="feature-item">Real-Time Updates</li>
                  <li class="feature-item">Remote Restart</li>
                  <li class="feature-item">IP-67 Pelican Case</li>
                  <li class="feature-item">Stainless Steel Cover</li>
                </ul>

                <div class="message">
                  Does not include a camera <br />
                  <b>Supports most of the DSLR Cameras</b>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="vs-wrapper">
          <div class="vs-logo">VS</div>
        </div>

        <div class="right">
          <div class="card">
            <div class="card-body">
              <b>EarthCam:</b> US$ 100 Per Camera / Month
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <b>PhotoSentinel:</b> US$ 50 Per Camera / Month
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <b>DeckChair:</b> US$ 249 Per Camera / Month
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <b>MK TimeLapse:</b> US$ 149 Per Camera / Month
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <section class="footer">
    <app-footer></app-footer>
  </section>
</div>
