<ng-container>
  <div class="wrapper">
    <div class="container">
      <div class="contact-wrapper">
        <div class="row">
          <div class="col-md-6">
            <div class="title">Subscribe to our updates</div>
            <div class="subtitle">
              A monthly digest of the latest TQ news, articles and resources.
            </div>
          </div>
          <div class="col-md-6">
            <div class="form">
              <div class="form-group">
                <input
                  type="text"
                  name=""
                  class="form-control"
                  placeholder="Your email address"
                />
                <button class="btn btn-primary btn-attached">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div class="links">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-2" *ngFor="let f of footerLinks">
            <div class="footer-link-title">{{ f.title }}</div>
            <div>
              <ng-container *ngFor="let l of f.links">
                <a *ngIf="l.external" [href]="l.path" class="footer-link">
                  {{ l.text }}
                </a>

                <a
                  *ngIf="!l.external"
                  [routerLink]="l.path"
                  class="footer-link"
                >
                  {{ l.text }}
                </a>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright">© 2020 TheQuantum. All rights reserved.</div>
    </div>
  </div>
</ng-container>
