<div class="lightbox-wrapper" *ngIf="isOpen" @fadeIn>
  <div class="lightbox">
    <div class="close-bar">
      <span class="cross-icon" (click)="close()">
        <i class="bi bi-x"></i>
      </span>
    </div>
    <div class="main-wrapper">
      <video controls autoplay [src]="src"></video>
      <!-- <iframe
        src="https://player.vimeo.com/video/487973821"
        frameborder="0"
        allow="autoplay; fullscreen"
        allowfullscreen
      ></iframe> -->
    </div>
  </div>
</div>
