<div class="main-wrapper">
  <!-- NAVBAR -->
  <app-navbar [background]="'primary'"></app-navbar>

  <!-- SHOWCASE -->
  <app-background-showcase></app-background-showcase>

  <!-- ORDER CONFIRMED -->
  <section class="order-confirmed">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="flex-wrapper">
            <img
              src="assets/icons/confirmed.svg"
              alt="Order Confirmed Image"
              class="confirmed-img"
            />
            <h2 class="heading">Order Confirmed</h2>

            <h5 class="sub-heading">
              Hey, your order has been confirmed. You will receive your order
              details in an email shortly. The order ID for your reference is
              <span class="order-id">TQP-109293</span>.
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <section class="footer">
    <app-footer></app-footer>
  </section>
</div>
