@font-face {
  font-family: "Eina";
  src: url(assets/fonts/Eina/Eina01-Light.ttf) url(assets/fonts/Eina/Eina01-LightItalic.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Eina";
  src: url(assets/fonts/Eina/Eina01-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Eina";
  src: url(assets/fonts/Eina/Eina01-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Eina";
  src: url(assets/fonts/Eina/Eina01-Bold.ttf);
  font-weight: 700;
}
