@import "src/assets/scss/variables";

@import "~bootstrap/scss/bootstrap.scss";

@import "~ngx-toastr/toastr";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("./fonts.css");

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --danger: #{$danger};
  --muted: #{$muted};
  --container-max-width: 1150px;
}

* {
  font-family: "Eina", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: unset !important;
}

.container {
  max-width: var(--container-max-width) !important;
  padding: 0 2rem;
}

.btn {
  padding: 0.7rem 2.2rem 0.6rem;
  font-weight: 600;
  border-radius: 6px;

  &:focus {
    box-shadow: none !important;
  }
}

.btn-primary {
  color: #fff;

  &:hover,
  &:active,
  &:visited,
  &:focus,
  &:disabled {
    color: #fff;
  }
}

.btn-light {
  color: var(--primary);

  &:hover,
  &:active,
  &:visited,
  &:focus,
  &:disabled {
    color: var(--primary);
  }
}

.btn-icon {
  padding: 0.4rem 0.8rem 0.2rem;
}

select:invalid {
  color: var(--muted);
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0;

  &.row-reverse {
    flex-direction: row-reverse;

    .flex-33 {
      margin-left: 4rem;
      margin-right: 0 !important;
    }
  }

  .flex-33 {
    width: 33.333%;
    margin-right: 4rem;
  }

  .flex-66 {
    width: 66.666%;
  }

  .flex-50 {
    width: 50%;
  }
}

.img-wrapper {
  display: flex;
  padding: 4rem 0;

  img,
  video {
    width: 100%;
    height: auto;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  video {
    object-fit: cover;
  }
}

.align-center {
  justify-content: center;
}

.postfix-light {
  color: var(--primary);
  font-weight: 300;
}

.postfix-bold {
  font-weight: 700;
}

.hidden {
  visibility: hidden !important;
}

.btn-float {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100% !important;
  padding: 0 !important;
  z-index: 999;
}

.clickable {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px !important;
  }

  .container {
    padding: 0 1rem;
  }

  .btn {
    padding: 0.5rem 1.4rem;
    border-radius: 4px;
    font-size: 0.9rem;
  }

  .flexbox {
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 0 2.5rem;

    &.row-reverse {
      flex-direction: column;
    }

    .flex-33 {
      width: 100%;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .flex-66 {
      width: 100%;
    }

    .flex-50 {
      width: 100%;
    }
  }

  .img-wrapper {
    padding: 3rem 0 2rem;
  }
}

// ngx-intl-tel-input style override
.iti {
  display: block;
  font-size: 1.05rem;
  border-radius: 6px;

  .iti__flag-container {
    padding: 0.625rem 0.5rem;
  }

  input[type="tel"] {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;

    &::placeholder {
      color: rgba(0, 0, 0, 0.45);
    }

    &:focus {
      box-shadow: none;
    }
  }
}
