@import "src/assets/scss/variables";

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --muted: #{$muted};
  --container-max-width: 1150px;
}

@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("./fonts.css");

* {
  font-family: "Eina", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: unset !important;
}

.container {
  max-width: var(--container-max-width) !important;
  padding: 0 2rem;
}

.btn {
  padding: 0.7rem 2.2rem;
  font-weight: 600;
  border-radius: 6px !important;

  &:focus {
    box-shadow: none !important;
  }
}

.btn-primary {
  color: #fff;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: #fff;
  }
}

.btn-light {
  color: var(--primary);

  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: var(--primary);
  }
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0;

  &.row-reverse {
    flex-direction: row-reverse;

    .flex-33 {
      margin-left: 4rem;
      margin-right: 0 !important;
    }
  }

  .flex-33 {
    width: 33.333%;
    margin-right: 4rem;
  }

  .flex-66 {
    width: 66.666%;
  }

  .flex-50 {
    width: 50%;
  }
}

.img-wrapper {
  display: flex;
  padding: 4rem 0;

  img,
  video {
    width: 100%;
    height: auto;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  }

  video {
    object-fit: cover;
  }

  .radius {
    border-radius: 24px;
  }
}

.align-right {
  justify-content: flex-end;
}

.postfix-light {
  color: var(--primary);
  font-weight: 300;
}

.postfix-bold {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px !important;
  }

  .container {
    padding: 0 1rem;
  }

  .btn {
    padding: 0.5rem 1.4rem;
    border-radius: 4px !important;
    font-size: 0.9rem;
  }

  .flexbox {
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 0 2.5rem;

    &.row-reverse {
      flex-direction: column;
    }

    .flex-33 {
      width: 100%;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .flex-66 {
      width: 100%;
    }

    .flex-50 {
      width: 100%;
    }
  }

  .img-wrapper {
    padding: 3rem 0 2rem;

    .radius {
      border-radius: 14px;
    }
  }
}

.hidden {
  visibility: hidden !important;
}
